:root {
  --primary-color: #7e00fd;
}

html {
  font-size: 62.5%;
}
.speed{
  animation-duration: 2s!important;
}

p,
a {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper {
    max-width: 1000px;
    margin: 2em auto;

}

.header-cta,
.arrow {
  display: none;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 80px; */
}

.logo {
  /* margin-left: 100px; */
}

header ul {
  display: flex;
  gap: 2.2em;
}

header ul li a {
  color: black;

  transition: 0.2s;
  padding: 8px 18px;
  border-radius: 5px;
}

a.active {
  text-decoration: underline;
}

header ul li a:hover {
  color: white;
  background-color: #7e00fd;
}

.right-button {
  /* margin-right: 100px; */
  padding: 10px;
  border: none;
  border-radius: 2px;
  background: rgb(74, 29, 209);
  color: #fff;
  overflow: hidden;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.right-button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #7e00fd;
}

footer {
  background-color: #ededed;
  padding: 1.6em 0;
  margin-top: 5em;
  display: flex;
}

.footer-header > h3 {
  text-align: center;
  font-size: 30px;
  /* padding-left: 450px; */
}
.footer-bottom {
  text-align: center;
}

.footer-header > p {
  text-align: center;
  font-size: 20px;
  margin-top: -10px;
  /* padding-left: 450px; */
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  /* padding-left: 450px; */
}



.cs-page_title {
  text-align: center;
  font-size: 50px;
}

.cs-contact_card_wrap {
  /* background: linear-gradient(116.85deg, rgba(252, 70, 107, 0.3) 0%, rgba(63, 94, 251, 0.3) 100%); */
  padding: 1px;
  /* -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05); */
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  /* margin-left: 50px;
  margin-right: 50px; */
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.cs-contact_card {
  background-color: #fff;
  border-radius: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* padding: 35px; */
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  column-gap: 20px; 
}

.cs-contact_card > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cs-contact_card .cs-contact_info {
  padding: 30px 30px;
  position: relative;
}
.cs-contact_info{
    /* -webkit-box-shadow: -14px -14px 10px rgba(0, 0, 0, 0.05);
  box-shadow: -14px -14px 10px rgba(0, 0, 0, 0.05); */
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);  border-radius: 10px;
}

.cs-contact_card .cs-contact_info:not(:last-child)::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  right: 0;
  top: 0;
  /* background: linear-gradient(
    116.85deg,
    rgba(252, 70, 107, 0.3) 0%,
    rgba(63, 94, 251, 0.3) 100%
  ); */
}
.container{
  margin-top: 50px;
  margin-bottom: 105px;
}

.cs-contact_card .cs-contact_icon {
  margin-bottom: 25px;
}

.cs-contact_card .cs-contact_title {
  font-size: 20px;
  margin-bottom: 8px;
}

.cs-contact_card .cs-contact_text {
  margin: 0;
  color: rgba(115, 122, 153, 0.5);
}

.cs-form_field_wrap {
  /* background: linear-gradient(116.85deg, rgba(252, 70, 107, 0.3) 0%, rgba(63, 94, 251, 0.3) 100%); */
  border-radius: 1.6em;
  padding: 1px;
}

.cs-form_field {
  background-color: #f8fafc;
  width: 50%;
  border: none;
  padding: 12px 20px;
  border-radius: inherit;
  outline: none;
  display: block;
  gap: 3.5em;
}

.cs-form_field.cs-white_bg {
  background-color: #fff;
}

.cs-form_label {
  display: block;
  margin-bottom: 5px;
  margin-left: 20px;
  color: #050023;
}

.cs-contact_box {
  background: #ffffff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 70px 80px 80px;
}


/*  */
.realtive{
  position: relative;
}
.p-2{
  padding: 8px;
}
.w-full{
  width: 100%;
}
.flex{
  display: flex;
}
.gap5{
  row-gap: 20px;
}
.flex-col{
  flex-direction: column;
}
.justify-end{
  justify-content: end;
}
.mob-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  background-color: #f9fafb;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 700ms;
  --transform-translate-x: -100%;
  width: 100%;
  height: 100%;
}
.mob-nv2 {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.mob-nav3 {
  overflow-y: auto;
  position: fixed;
  top: 0;
  z-index: 40000;
  padding-bottom: 1rem;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media (min-width: 1280px) {
  .mob-nav3 {
    display: none;
  }
}
.mob-nav4 {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
}
.mob-nav5 {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.mob-nav6 {
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 1px;
  border-color: #e5e7eb;
}

.responsive {
  display: none;
}
.small-nav {
  display: block;
}

.burger {
  border: none;
  outline: none;
  background: transparent;
}

.md-hidden {
  display: none;
}
.justify-between-between {
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .responsive {
    display: flex !important;
    padding-bottom: 50px;
  }
  .blur-green {
    display: block;
  }
  .small-nav {
    display: none;
  }
}
.blur-green {
  display: none;
}
@media (max-width: 1024px) {
  .cs-contact_card {
    background-color: #fff;
    border-radius: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* padding: 35px; */
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    row-gap: 30px;
    flex-direction: column!important;
  }
  .md-center {
    justify-content: center;
  }
  .md-items-center{
    align-items: center;
  }
}
/*  */
